@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap");

html,
body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
    padding: 45px 15px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    background-color: rgb(169, 168, 162);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.menu li:hover {
    background-color: #b3bb10;
    transform: translateY(-2px);
}

#logo {
    width: 260px;
}

main {
    max-width: 1080px;
    margin: auto;
}

footer {
    text-align: center;
    font-size: 12px;
}

#liste-oeuvres {
    display: flex;
    flex-wrap: wrap;
}

.oeuvre {
    width: 33.33%;
    padding: 15px;
}

.oeuvre img {
    width: 100%;
}

.oeuvre h2,
#detail-oeuvre h1 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 30px;
}

.oeuvre .description,
#detail-oeuvre .description {
    font-style: italic;
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 20px;
}

#detail-oeuvre {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin-bottom: 100px;
    margin-top: 75px;
    font-size: 14px;
    padding: 0 15px;
}

#img-oeuvre {
    margin-right: 25px;
}

#img-oeuvre img {
    max-width: 470px;
    margin: auto;
    display: block;
}

#contenu-oeuvre {
    max-width: 470px;
}

@media (max-width: 850px) {
    .oeuvre {
        width: 50%;
    }

    #img-oeuvre {
        margin-right: 0;
        width: 100%;
    }

    #img-oeuvre img {
        width: 100%;
    }

    #contenu-oeuvre {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .oeuvre {
        width: 100%;
    }

    #logo {
        width: 200px;
    }
}

/* #url {
  width: 300px;
} */



form {
    width: 600px;

    >fieldset {
        width: 100%;
        display: flex;
        flex-direction: column;

        .champ {
            width: 100%;
            padding: 8px;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}